<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Edit Company</title>
  <link rel="stylesheet" href="/stylesheets/style.css">  
</head>
<body>
  <h1>Edit Company</h1>
  <%= data %>
  <form action="/update-company/<%= data.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT"/>
    <label for="name">Company name</label><br>
    <input type="text" name="name" value="<%= data.name %>" id="" placeholder="Enter company name" /><br>
    <label for="noOfEmployees">No. of Employees</label><br>
    <input type="number" name="numberOfEmployees" value="<%= data.numberOfEmployees %>" id="" placeholder="Number of employees" /><br>
    <input type="submit" value="Update">
  </form>
</body>
</html>