<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Listt</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>User List</h1>
        <a href="/user/new">New User</a>
        <a href="/user/1/profile"> Show User</a>
        <ul>
            <% users.forEach( (user, i) => { %>
                <h3>User
                    <%= ++i %>
                </h3>
                <li>Company Name: <%= user.company.name %></li>
                <li>Name :
                    <%= user.fname +" "+ user.lname%>
                </li>
                <% })%>
        </ul>
        <h3></h3>
</body>

</html>